/* 鱼塘固定宽度 */
canvas:not(#ribbon-canvas), #web_bg {
    margin-bottom: -0.5rem;
    display: block;
    width: 100%;
    height: 160px
}
 
/* 鱼塘渐变色 */
body{
 overflow-x: hidden;
}
#footer {
 height:160px;
 background: linear-gradient(
  135deg,
  rgba(23, 23, 116, 0.2),
  rgba(28, 181, 224, 0.2)
 );
}
#footer #footer-wrap,
#footer-wrap a {
 color: #000;
}
#footer #footer-wrap {
 z-index: 1;
}
 
#footer .container {
 line-height: 0;
 position: relative;
 height: 100%;
 width: 100vw;
}
